# Project exclude paths
/API/target/
/eureka-server/target/
/gateway-server/target/
/task-tracker/target/
/frontend/node-modules/
!.mvn/wrapper/maven-wrapper.jar
.idea
*.iws
*.iml
*.ipr
/mvnw
/mvnw.cmd
